In [ ]:
import pymysql

In [ ]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306)
cursor = db.cursor()
cursor.execute('select version()')
data = cursor.fetchone()
data

In [ ]:
cursor.execute('create database spiders default character set utf8mb4')
db.close()

In [ ]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306,db='spiders')
cursor = db.cursor()

In [ ]:
sql = 'create table students (id varchar(50), name varchar(50), age int)'
cursor.execute(sql)
db.close()

In [ ]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306,db='spiders')
cursor = db.cursor()
id = '20230617'
name = 'Gowther'
age = 21

sql = 'insert into students values(%s, %s, %s);'

try:
    cursor.execute(sql,(id, name, age))
    db.commit()
except:
    db.rollback()

# sql = 'select * from students;'
# cursor.execute(sql)
# print(cursor.fetchone())
db.close()

In [ ]:
id = '20230617'
name = 'Gowther'
age = 21

sql = 'insert into students values(%ss, %ss, %ss);'
print(sql.format(id, name, age))

In [35]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306,db='spiders')
cursor = db.cursor()
data = [{'id':'202001', 'name' : 'Jack', 'age' : 1},
        {'id':'202002', 'name' : 'holf', 'age' : 2},
        {'id':'202003', 'name' : 'Julie', 'age' : 1},]

for i in data:
    table = 'students'
    keys = ','.join(i.keys())
    values = ','.join(['%s'] * len(i))
    sql = 'insert into {}({}) values({})'.format(table, keys, values)
    try:
        if cursor.execute(sql, tuple(i.values())):
            print('Successful')
            db.commit()
    except:
        print('Failed')
        db.rollback()
db.close()

Successful
Successful
Successful

In [37]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306,db='spiders')
cursor = db.cursor()
sql = 'select * from students where age > 1'
cursor.execute(sql)
data = cursor.fetchall()
print(data)

(('20230613', 'Gowhter', 21), ('20230617', 'Gowther', 21), ('202002', 'holf', 2))

In [42]:
db = pymysql.connect(host='localhost',user='root',password='123456',port=3306,db='spiders')
cursor = db.cursor()
sql = 'select * from students where age > 1;'

try:
    cursor.execute(sql)
    print('count:',cursor.rowcount)

    row = cursor.fetchone()

    while row:
        print('Row:',row)
        row = cursor.fetchone()
except:
    print('Error')

count: 3
Row: ('20230613', 'Gowhter', 21)
Row: ('20230617', 'Gowther', 21)
Row: ('202002', 'holf', 2)